.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

}

.main-container {
    grid-template-columns: 1fr;
}

/******************Home***********************/

.home {
    background-color: white;
    width: 100%;
}

.home-description {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.description-left {
    background-color:white;
    display: inline-block;
    width: 500px;
    height: 300px;
    margin-left: 80px;
}

.desc-title {
    background-color: white;
    color: rgb(180, 0, 0);
    height: 200px;
    margin-top: 15px;
    font-size: 40px;
    font-weight: 700;
}

.desc-comp {
    background-color: white;
    font-size: 20px;
    font-weight: 500;
    color: rgb(126, 126, 126);
}
.spot {
    margin-top: 20px;
}

.description-right {
    background-color: lightpink;
    width: 500px;
    margin-right: 40px;
}
.description-img {
    width: 100%;
}


/******************services***********************/
.offer {
    background-color: white;
    position: relative;
    height: 250px;
}
.offer-title {
    background-color: white;
    margin-left: 150px;
    color: rgb(180, 0, 0);
    font-size: 35px;
    font-weight: 500;
}
.offer-desciption {
    background-color: white;
    height: 200px;
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    position: absolute;
    bottom: 0;
    left: 120px;
    border-radius: 10px;
}
.offer-desc-unit {
    width: 200px;
    height: 140px;
    text-align: center;
}
.offer-desc-unit-top {
    font-size: 25px;
    font-weight: 400;
    color: rgb(126, 126, 126);
    margin-top: 20px;
}
.offer-desc-unit-bottom {
    font-size: 20px;
    font-weight: 400;
    color: rgb(126, 126, 126);
    margin-top: 30px;
    position: relative;
}
.button-estimate {
    background-color: lightskyblue;
    position: absolute;
    top: 70px;
    right: 30px;
    width: 150px;
    height: 45px;
    border-radius: 10px;
    padding-top: 20px;
    font-size: 20px;
    font-weight: 400;
    color: white;
    background-color: rgb(218, 61, 61);
    
}
/******************img-div***********************/
.img-div img{
    width: 100%;
}

/******************services***********************/
.services {
    margin-left: 80px;
}
.services-top {
    background-color: white;
    height: 190px;
}
.serv-top-title {
    color: rgb(180, 0, 0);
    font-size: 40px;
    font-weight: 500;
    height: 80px;
}
.serv-top-desc {
    font-size: 18px;
    font-weight: 400;
    height: 30px;
}
.services-bottom {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1000px;
    height: 250px;
}
.services-bottom-1 {
    flex: 1;
}
.services-bottom-1-grl{
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 18px;
    font-weight: 400;
    color: rgb(126, 126, 126);
}
.services-bottom-1-title {
    height: 50px;
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: rgb(180, 0, 0);
}
.services-bottom-1:hover{
    opacity: .9;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/******************about***********************/
.about {
    background-color: white;
}
.about-grl {
    margin-left: 80px;
    margin-right: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 700px;
}
.about-imagen {
    width: 100%;
}
.about-right {
    margin-left: 40px;
}
.about-right-top{
    height: 160px;
}
.about-right-top-1 {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 30px;
    font-weight: 700;
    color: rgb(180, 0, 0);
    text-align: center;
}
.about-right-top- {
    font-size: 18px;
    font-weight: 500;
    color: rgb(126, 126, 126);
}
.about-right-bot-title {
    font-size: 15px;
    font-weight: 500;
    color: rgb(180, 0, 0);
    height: 30px;
    margin-top: 9px;
}
.about-right-bot-title1 {
    font-size: 20px;
    font-weight: 500;
    color: rgb(180, 0, 0);
    height: 30px;
    margin-top: 9px;
    text-align: center;
}
.about-right-bot-desc1 {
    height: 10px;
}
.about-right-bot-desc {
    height: 90px;
    font-size: 14px;
    font-weight: 500;
    color: rgb(126, 126, 126);
}
.about-right-bot-desc2 {
    height: 60px;
    font-size: 14px;
    font-weight: 500;
    color: rgb(126, 126, 126);
}

/******************contact***********************/
.contact-main {
    background-color: white;
    margin-left: 80px;
    margin-right: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 470px;
}
.contact-left-title {
    font-size: 35px;
    font-weight: 700;
    color: rgb(180, 0, 0);
    height: 70px;
    text-align: center;
}
.contact-left-title-msg{
    font-size: 14px;
    font-weight: 500;
    color: rgb(126, 126, 126);
    height: 20px;
    padding-top: 5px;
    padding-left: 10px;
}
.contact-left-desc {
    display: flex;
    flex-direction: row;
}
.contact-left-desc-mod {
    flex: 1;
}
.contact-mod {
    height: 150px;
}
.contact-title {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
    color: rgb(180, 0, 0);
}
.contact-desc {
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    color: rgb(126, 126, 126);
}
.contact-mod:hover{
    opacity: .9;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.contact-img {
    width: 100%;
}